// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass
@import '~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_mixins.scss';

.pref-email {
    .pref-email__subs-info {
        padding-bottom: 0;
    }

    .pf-c-data-list {
        border: 0;
    
        .pref-c-title {
            // min and max width, because data lists
            min-width: 155px;
            max-width: 155px;

            @include rem('padding-top', 22px);
        }
        .pf-c-data-list__item:last-of-type { border: 0; }

        .pf-c-data-list__item-content {
            .pf-c-data-list__cell{
                > * {
                    padding-bottom: var(--pf-global--spacer--md);

                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    .pref-email__info  .pf-c-card__body .pf-l-flex {
        .pref-email_loader span {
            word-break: break-all;
            margin-left: var(--pf-global--spacer--3xl);
        }
    }

    .pref-email_form .pf-c-form .pf-c-data-list {
        .pf-c-data-list__item-row { padding-left: 0; }
    }

    .pref-email_subheader {
        margin-top: 8px;
        font-size: var(--pf-global--FontSize--md);
        font-weight: var(--pf-global--FontWeight--normal);
    }

    .pref-u-bold { font-weight: var(--pf-global--FontWeight--bold); }
}

@media screen and (max-width: 768px) {
    .pref-email {
        .pref-email__info {
            .pf-c-card__body .pf-l-flex{
                > div:first-of-type {
                    flex-grow: 0;
                    flex-basis: 100%;
                }

                .pref-email_loader span { margin-left: 0; }
            }
        }

        .pf-c-data-list__item:last-of-type {
            .pf-c-data-list__cell:last-of-type {
                padding-top: var(--pf-global--spacer--lg);
            }
        }
    }
}
