// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass
@import '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins.scss';

.pref-notification {
  .pref-email__subs-info {
    padding-bottom: 0;
  }

  .pf-c-data-list {
    border: 0;

    .pref-c-title {
      // min and max width, because data lists
      min-width: 155px;
      max-width: 155px;
    }
    .pf-c-data-list__item:last-of-type { border: 0; }

    .pf-c-data-list__item-content {
      &.pref-u-condensed {
        padding-top: 0;
        padding-bottom: 0;
      }

      .pf-c-data-list__cell{
        > * {
          padding-bottom: var(--pf-global--spacer--md);

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }

    .pf-c-data-list__item-row { padding-left: 0; }
    .pref-email__info-user-email {
      padding-left: var(--pf-global--spacer--lg);

      a {
        padding-left: var(--pf-global--gutter);
      }
    }
  }

  .notif-page-header {
    padding-bottom: 8px;
  }

  .pref-u-bold { font-weight: var(--pf-global--FontWeight--bold); }

  div.pref-u-condensed {
    padding-top: var(--pf-global--spacer--sm);
    padding-bottom: 0;
  }

  .pref-email__form-button {
    margin-right: var(--pf-global--spacer--md);
  }
}

@media screen and (max-width: 768px) {
  .pref-notification {

    .pf-c-data-list .pref-email__info-user-email {
      padding-left: 0;


      &.pf-c-data-list__cell span {
        padding-bottom: var(--pf-global--spacer--sm);
      }

      > * {
        display: block;
      }


      a {
        padding-left: 0;
      }
    }

    .pref-email__info {
      .pf-c-card__body .pf-l-flex {
        > div:first-of-type {
          flex-grow: 0;
          flex-basis: 100%;
        }

        .pref-email_loader span { margin-left: 0; }
      }
    }

    .pf-c-data-list__item:last-of-type {
      .pf-c-data-list__cell:last-of-type {
        padding-top: var(--pf-global--spacer--lg);
      }
    }

    ul.pf-c-data-list {
      .pf-c-data-list__item {
        div.pf-c-data-list__cell.pref-u-condensed {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
